<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>게시글 보기</h1>
    <h1>see the content detail ! </h1>
    <p><textarea name="title" cols="85" rows="1" th:text="${contentdetail.title}" readonly>      </textarea></p>
    <p><textarea name="content" cols="85" rows="10" th:text="${contentdetail.content}" readonly>   </textarea></p>

    <input name="id"  th:value="${contentId}" style="display:none">

<div style="float: left">
        <form action="showList">
        <input type="submit" value="돌아가기">
        </form>
</div>

<div>



</div>
     <button id="deleteBtn" >글 지우기</button>
     <button id="updateBtn">글 수정</button>

<form action="deleteContent" id="goToDeleteContent" method="post">
    <input type="text" name="dlps" id="dlps" placeholder="삭제 비밀번호">
    <input id ="conId" name="contentId" type="hidden" th:value="${contentId}">
    <input id ="contentUserId"name="contentUserId" type="hidden" th:value="${contentUserId}" >
    <input id ="currentUser"name="currentUser" type="hidden" th:value="${currentUserid}" >
</form>

<form action="seeDetailContent" id="goToChange">
    <input id ="conIdB" name="contentIdB" type="hidden" th:value="${contentId}">
</form>

 <br>
<br>

 <table>
    <tbody>
    <!-- CONTENTS !-->
    <tr th:each="comments : ${comments}">
        <td>
            <span>--------------------------------</span>
            <br>
            <span th:text="작성자"></span>
            <span>  :</span>
            <span th:text="${comments.user_id}"></span>
            <br>
            <span> 내용:</span>
            <span th:text="${comments.content}"></span>
            <br>
            <span>--------------------------------</span>
            <br>
            <br>
         </td>
    </tr>
    </tbody>
</table>
        <form action="inputComment" method="post">
        <p1>댓글창</p1>
        <p><textarea name="commentpaper" cols="85" rows="3" placeholder="댓글을 입력해주세요"></textarea></p>
            <input name="contentId" type="hidden" th:value="${contentdetail.id}" >
            <input type="submit" value="작성완료">
        </form>
</body>

<script>
    //content 만든이의 id와 현제 session id를 비교하여 삭제 권한 결정
    window.onload = function() {
        document.getElementById('deleteBtn').onclick = function () {

            var idWhoMadeContent = document.getElementById('contentUserId').getAttribute('value')
            var nowSessionId = document.getElementById('currentUser').getAttribute('value')

            if(idWhoMadeContent == nowSessionId ){
                document.getElementById('goToDeleteContent').submit();
            }else{
                alert("글쓴이만 삭제 가능 !")
                console.log("컨텐츠 등록자"+idWhoMadeContent);
                console.log("현재 사용자"+nowSessionId);
            }
         }

        document.getElementById('updateBtn').onclick = function () {

            var idWhoMadeContent = document.getElementById('contentUserId').getAttribute('value')
            var nowSessionId = document.getElementById('currentUser').getAttribute('value')

            if(idWhoMadeContent == nowSessionId){
                document.getElementById('goToChange').submit();
            }else{
                alert("글쓴이만 수정 가능 !")
                console.log("컨텐츠 등록자"+idWhoMadeContent);
                console.log("현재 사용자"+nowSessionId);
            }
        }
    }

</script>



</html>