<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>게시판 수정하기</h1>

<form action="changeContent" method="post">
     <p><textarea name="title" cols="50" rows="1" th:text="${contentdetail.title}">  </textarea></p>
    <p><textarea name="content" cols="50" rows="10" th:text="${contentdetail.content}">   </textarea></p>
    <input name="delpass" type="text" th:value="${contentdetail.delpass}">
    <input name="id"  th:value="${contentId}" type="hidden">
    <input type="submit" value="완료">
</form>

</body>
</html>